<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>The Salon Expo is one of the top rated barber, nail and hair salons in Englewood New Jersey!</h2>
        <p class="lead">Located at the heart of Palisades Ave. The Salon Expo caters to all customers, from men's haircuts to women's wash and sets. Book an apointment by stylist, or by need - our stylist can accomodate any request. We are a bilingual shop - y hablemos español. The next time you are in Bergen County and need your nails done or your hair tended to; Make sure you reach out to the best in the area, The Salon Expo.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
