<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script> 

<!-- <script src="js/booksy.js"></script>  -->

<!-- Instagram feed -->
<script type="text/javascript">window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'APT2JrAhbEa7TucTx0o'});Pixlee.addSimpleWidget({widgetId:'1097'});};</script><script src="//instafeed.assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script>