<aside class="halloween">
  <div class="text-vertical-center">
    {% for text in site.salon_specials.info.text %}
        <h1 class="{{ site.salon_specials.info.class }}">{{ text.line }}</h1>
    {% endfor %}

    {% if site.salon_specials.info.cta %}
        <div class="col-lg-12 text-center">
            <a href="{{ site.salon_specials.info.cta.url }}" class="btn btn-lg btn-dark" target="_blank">
                {{ site.salon_specials.info.cta.text }}
            </a>
        </div>
    {% endif %}
  </div>
</aside>
