<aside class="halloween">
  <div class="text-vertical-center">
    <h1 class="{{ site.salon_specials.info.class }}">
        {% for text in site.salon_specials.info.text %}
            {{ text.line }}
        {% endfor %}
    </h1>

    {% if site.salon_specials.info.cta %}
        <div class="col-lg-12 text-center">
            <a href="{{ site.salon_specials.info.cta.url }}" class="btn btn-lg btn-dark" target="_blank">
                {{ site.salon_specials.info.cta.text }}
            </a>
        </div>
    {% endif %}
  </div>
</aside>
