<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  {% include navigation.html %}
  {% include header.html %}
  {% include about.html %}

  {% if site.salon_specials.available %}
    {% include special.html %}
  {% else %}
    {% include callout.html %}
  {% endif %}

  {% include team.html %}
  {% include services.html %}
  {% include portfolio.html %}
  {% include call-to-action.html %}
  {% include map.html %}
  {% include footer.html %}
  {% include scripts.html %}

</body>

</html>
